<a href="https://colab.research.google.com/github/cabbi120101/final_multi/blob/main/Try/%EC%A2%8C%ED%91%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import re
import pandas as pd

import numpy as np
import json

# from nltk.corpus import stopwords
# from tensorflow.python.keras.preprocessing.sequence import pad_sequences
# from tensorflow.python.keras.preprocessing.text import Tokenizer

In [3]:
timeline_info = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/4주차/데이터/timeline_info.csv")
timeline_info.head()

   Unnamed: 0      gameId  time_stamp  ...  xp  minionsKilled  jungleMinionsKilled
0           0  5239649284           0  ...   0              0                    0
1           1  5239649284           0  ...   0              0                    0
2           2  5239649284           0  ...   0              0                    0
3           3  5239649284           0  ...   0              0                    0
4           4  5239649284           0  ...   0              0                    0

[5 rows x 12 columns]

In [4]:
match_info = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/4주차/데이터/match_info.csv")
match_info.head()

   Unnamed: 0      gameId  ...  firstTowerKill firstTowerAssist
0           0  5094010678  ...               0                0
1           1  5094010678  ...               0                0
2           2  5094010678  ...               0                0
3           3  5094010678  ...               0                0
4           4  5094010678  ...               0                0

[5 rows x 40 columns]

In [ ]:
import csv
import json

In [ ]:
input_file_name = "/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/4주차/데이터/ko_KR/item.json"
output_file_name = "item.csv"
with open(input_file_name, "r", encoding="utf-8", newline="") as input_file, \
        open(output_file_name, "w", encoding="utf-8", newline="") as output_file:
    data = []
    for line in input_file:
        datum = json.loads(line)
        data.append(datum)
        
    csvwriter = csv.writer(output_file)
    csvwriter.writerow(data[0].keys())
    for line in data:
        csvwriter.writerow(line.values())

In [ ]:
pd.set_option('display.max_rows',None)

In [ ]:
item = pd.read_csv('item.csv')

In [ ]:
item['basic'].keys

<bound method Series.keys of 0    {'name': '', 'rune': {'isrune': False, 'tier':...
Name: basic, dtype: object>

In [ ]:
# item = json.load("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/4주차/데이터/ko_KR/item.json")
# # item = pd.json_normalize("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/4주차/데이터/ko_KR/item.json")
# item.head()

AttributeError: ignored

In [5]:
timeline_info.head()

   Unnamed: 0      gameId  time_stamp  ...  xp  minionsKilled  jungleMinionsKilled
0           0  5239649284           0  ...   0              0                    0
1           1  5239649284           0  ...   0              0                    0
2           2  5239649284           0  ...   0              0                    0
3           3  5239649284           0  ...   0              0                    0
4           4  5239649284           0  ...   0              0                    0

[5 rows x 12 columns]

In [8]:
is_this_jungle = []
for i in range(len(timeline_info['jungleMinionsKilled'])):

     k = 0

     if timeline_info['time_stamp'][i]==120039 : 

        if timeline_info['jungleMinionsKilled'][i]>0 :
            k = 1
     is_this_jungle.append(k)

In [9]:
timeline_info['is_this_jungle'] = is_this_jungle

In [10]:
timeline_info.head()

   Unnamed: 0      gameId  ...  jungleMinionsKilled  is_this_jungle
0           0  5239649284  ...                    0               0
1           1  5239649284  ...                    0               0
2           2  5239649284  ...                    0               0
3           3  5239649284  ...                    0               0
4           4  5239649284  ...                    0               0

[5 rows x 13 columns]

In [11]:
is_this_blue = []
for i in range(len(timeline_info['jungleMinionsKilled'])):
    a = 0
    if timeline_info['participantId'][i] > 5:
        a = 1
    is_this_blue.append(a)

In [12]:
timeline_info['is_this_blue'] = is_this_blue

In [ ]:
timeline_info[timeline_info['time_stamp']==120039]

         Unnamed: 0      gameId  ...  is_this_jungle  is_this_blue
20               20  5239649284  ...               0             0
21               21  5239649284  ...               0             0
22               22  5239649284  ...               0             0
23               23  5239649284  ...               0             0
24               24  5239649284  ...               0             0
...             ...         ...  ...             ...           ...
3010005     3010005  5451224289  ...               0             1
3010006     3010006  5451224289  ...               0             1
3010007     3010007  5451224289  ...               0             1
3010008     3010008  5451224289  ...               0             1
3010009     3010009  5451224289  ...               0             1

[3050 rows x 14 columns]

In [ ]:
timeline_summ = timeline_info[['gameId','time_stamp','positionX','positionY','is_this_jungle','is_this_blue']]

In [ ]:
timeline_summ

             gameId  time_stamp  ...  is_this_jungle  is_this_blue
0        5239649284           0  ...               0             0
1        5239649284           0  ...               0             0
2        5239649284           0  ...               0             0
3        5239649284           0  ...               0             0
4        5239649284           0  ...               0             0
...             ...         ...  ...             ...           ...
3028875  5451530922     1380327  ...               0             1
3028876  5451530922     1380327  ...               0             1
3028877  5451530922     1380327  ...               0             1
3028878  5451530922     1380327  ...               0             1
3028879  5451530922     1380327  ...               0             1

[3028880 rows x 6 columns]

In [13]:
match_info.head()

   Unnamed: 0      gameId  ...  firstTowerKill firstTowerAssist
0           0  5094010678  ...               0                0
1           1  5094010678  ...               0                0
2           2  5094010678  ...               0                0
3           3  5094010678  ...               0                0
4           4  5094010678  ...               0                0

[5 rows x 40 columns]

In [21]:
match_data = match_info[['gameId','participantId','championId','spell1Id','spell2Id','teamId']]

In [22]:
match_data.head()

       gameId  participantId  championId  spell1Id  spell2Id  teamId
0  5094010678              1         111        14         4     100
1  5094010678              2         203        11         4     100
2  5094010678              3         122         6         4     100
3  5094010678              4         517         4        12     100
4  5094010678              5         523         7         4     100

In [23]:
timeline_info.head()

   Unnamed: 0      gameId  ...  is_this_jungle  is_this_blue
0           0  5239649284  ...               0             0
1           1  5239649284  ...               0             0
2           2  5239649284  ...               0             0
3           3  5239649284  ...               0             0
4           4  5239649284  ...               0             0

[5 rows x 14 columns]

In [25]:
match_time = pd.merge(timeline_info,match_data)

In [31]:
match_time.sort_values(by=['Unnamed: 0'],axis=0, inplace=True)

In [32]:
match_time.head()

    Unnamed: 0      gameId  time_stamp  ...  spell1Id  spell2Id  teamId
0            0  5239649284           0  ...         7         4     100
20           1  5239649284           0  ...        11         4     100
40           2  5239649284           0  ...        14         4     100
60           3  5239649284           0  ...        12         4     100
80           4  5239649284           0  ...         4        12     100

[5 rows x 18 columns]

In [64]:
match_time['spell1Id'].unique()

array([ 7, 11, 14, 12,  4,  6,  1,  3, 21])

In [63]:
match_time['spell2Id'].unique()

array([ 4, 12,  3, 14, 11,  7,  6,  1, 21])

In [39]:
match_time.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3028880 entries, 0 to 3028879
Data columns (total 18 columns):
 #   Column               Dtype
---  ------               -----
 0   Unnamed: 0           int64
 1   gameId               int64
 2   time_stamp           int64
 3   participantId        int64
 4   positionX            int64
 5   positionY            int64
 6   currentGold          int64
 7   totalGold            int64
 8   p_level              int64
 9   xp                   int64
 10  minionsKilled        int64
 11  jungleMinionsKilled  int64
 12  is_this_jungle       int64
 13  is_this_blue         int64
 14  championId           int64
 15  spell1Id             int64
 16  spell2Id             int64
 17  teamId               int64
dtypes: int64(18)
memory usage: 439.1 MB

In [42]:
len(match_time['spell1Id'])

3028880

In [43]:
len(match_time['spell2Id'])

3028880

In [54]:
match_time.value_counts()

Unnamed: 0  gameId      time_stamp  participantId  positionX  positionY  currentGold  totalGold  p_level  xp     minionsKilled  jungleMinionsKilled  is_this_jungle  is_this_blue  championId  spell1Id  spell2Id  teamId
3028879     5451530922  1380327     10             0          0          776          6876       11       8513   25             0                    0               1             201         3         4         200       1
1009622     5381724215  1140343     3              3706       7189       635          5285       10       6908   124            0                    0               0             222         7         4         100       1
1009631     5381724215  1200355     2              1430       7971       12           10562      12       9271   36             100                  0               0             131         11        4         100       1
1009630     5381724215  1200355     1              2361       1197       205          4940       10       6495   24             0                    0               0             147         3         4         100       1
1009629     5381724215  1140343     10             4450       7374       213          5148       9        5551   32             0                    0               1             12          14        4         200       1
                                                                                                                                                                                                                            ..
2019251     5417376200  1620467     2              7179       8902       1950         13285      16       16129  212            8                    0               0             126         12        4         100       1
2019250     5417376200  1620467     1              8008       7998       243          8003       13       11003  177            0                    0               0             142         14        4         100       1
2019249     5417376200  1560436     10             9035       5544       1171         12111      14       12927  18             137                  0               1             76          11        4         200       1
2019248     5417376200  1560436     9              8008       5814       503          8312       13       10454  33             0                    0               1             412         4         14        200       1
0           5239649284  0           1              194        457        500          500        1        0      0              0                    0               0             429         7         4         100       1
Length: 3028880, dtype: int64

In [57]:
pd.get_dummies(match_time['spell1Id'])

         1   3   4   6   7   11  12  14  21
0         0   0   0   0   1   0   0   0   0
20        0   0   0   0   0   1   0   0   0
40        0   0   0   0   0   0   0   1   0
60        0   0   0   0   0   0   1   0   0
80        0   0   1   0   0   0   0   0   0
...      ..  ..  ..  ..  ..  ..  ..  ..  ..
3028783   0   0   0   0   0   0   1   0   0
3028807   0   0   0   0   0   1   0   0   0
3028831   0   0   0   0   1   0   0   0   0
3028855   0   0   0   1   0   0   0   0   0
3028879   0   1   0   0   0   0   0   0   0

[3028880 rows x 9 columns]

In [60]:
match_time_1 = pd.get_dummies(data = match_time, columns = ['spell1Id'], prefix = 'spell1Id')

In [61]:
match_time_1 = pd.get_dummies(data = match_time_1, columns = ['spell2Id'], prefix = 'spell2Id')

In [65]:
match_time_1['spell_1'] = match_time_1['spell1Id_1'] + match_time_1['spell2Id_1']
match_time_1['spell_3'] = match_time_1['spell1Id_3'] + match_time_1['spell2Id_3']
match_time_1['spell_4'] = match_time_1['spell1Id_4'] + match_time_1['spell2Id_4']
match_time_1['spell_6'] = match_time_1['spell1Id_6'] + match_time_1['spell2Id_6']
match_time_1['spell_7'] = match_time_1['spell1Id_7'] + match_time_1['spell2Id_7']
match_time_1['spell_11'] = match_time_1['spell1Id_11'] + match_time_1['spell2Id_11']
match_time_1['spell_12'] = match_time_1['spell1Id_12'] + match_time_1['spell2Id_12']
match_time_1['spell_14'] = match_time_1['spell1Id_14'] + match_time_1['spell2Id_14']
match_time_1['spell_21'] = match_time_1['spell1Id_21'] + match_time_1['spell2Id_21']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3028880 entries, 0 to 3028879
Data columns (total 43 columns):
 #   Column               Dtype
---  ------               -----
 0   Unnamed: 0           int64
 1   gameId               int64
 2   time_stamp           int64
 3   participantId        int64
 4   positionX            int64
 5   positionY            int64
 6   currentGold          int64
 7   totalGold            int64
 8   p_level              int64
 9   xp                   int64
 10  minionsKilled        int64
 11  jungleMinionsKilled  int64
 12  is_this_jungle       int64
 13  is_this_blue         int64
 14  championId           int64
 15  teamId               int64
 16  spell1Id_1           uint8
 17  spell1Id_3           uint8
 18  spell1Id_4           uint8
 19  spell1Id_6           uint8
 20  spell1Id_7           uint8
 21  spell1Id_11          uint8
 22  spell1Id_12          uint8
 23  spell1Id_14          uint8
 24  spell1Id_21          uint8
 25  spell2Id_1           uint8
 26  spell2Id_3           uint8
 27  spell2Id_4           uint8
 28  spell2Id_6           uint8
 29  spell2Id_7           uint8
 30  spell2Id_11          uint8
 31  spell2Id_12          uint8
 32  spell2Id_14          uint8
 33  spell2Id_21          uint8
 34  spell_1              uint8
 35  spell_3              uint8
 36  spell_4              uint8
 37  spell_6              uint8
 38  spell_7              uint8
 39  spell_11             uint8
 40  spell_12             uint8
 41  spell_14             uint8
 42  spell_21             uint8
dtypes: int64(16), uint8(27)
memory usage: 470.8 MB

In [70]:
match_time_1 = pd.get_dummies(data = match_time_1, columns = ['teamId'], prefix = 'teamId')

In [73]:
match_time_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3028880 entries, 0 to 3028879
Data columns (total 44 columns):
 #   Column               Dtype
---  ------               -----
 0   Unnamed: 0           int64
 1   gameId               int64
 2   time_stamp           int64
 3   participantId        int64
 4   positionX            int64
 5   positionY            int64
 6   currentGold          int64
 7   totalGold            int64
 8   p_level              int64
 9   xp                   int64
 10  minionsKilled        int64
 11  jungleMinionsKilled  int64
 12  is_this_jungle       int64
 13  is_this_blue         int64
 14  championId           int64
 15  spell1Id_1           uint8
 16  spell1Id_3           uint8
 17  spell1Id_4           uint8
 18  spell1Id_6           uint8
 19  spell1Id_7           uint8
 20  spell1Id_11          uint8
 21  spell1Id_12          uint8
 22  spell1Id_14          uint8
 23  spell1Id_21          uint8
 24  spell2Id_1           uint8
 25  spell2Id_3           uint8
 26  spell2Id_4           uint8
 27  spell2Id_6           uint8
 28  spell2Id_7           uint8
 29  spell2Id_11          uint8
 30  spell2Id_12          uint8
 31  spell2Id_14          uint8
 32  spell2Id_21          uint8
 33  spell_1              uint8
 34  spell_3              uint8
 35  spell_4              uint8
 36  spell_6              uint8
 37  spell_7              uint8
 38  spell_11             uint8
 39  spell_12             uint8
 40  spell_14             uint8
 41  spell_21             uint8
 42  teamId_100           uint8
 43  teamId_200           uint8
dtypes: int64(15), uint8(29)
memory usage: 453.5 MB

In [104]:
train = match_time_1[['Unnamed: 0','time_stamp','participantId','positionX','positionY','is_this_jungle','teamId_100','teamId_200','spell_1','spell_3','spell_4','spell_6','spell_7','spell_11','spell_12','spell_14','spell_21']]

In [105]:
train

,Unnamed: 0,time_stamp,participantId,positionX,positionY,is_this_jungle,teamId_100,teamId_200,spell_1,spell_3,spell_4,spell_6,spell_7,spell_11,spell_12,spell_14,spell_21
0,0,0,1,194,457,0,1,0,0,0,1,0,1,0,0,0,0
20,1,0,2,557,345,0,1,0,0,0,1,0,0,1,0,0,0
40,2,0,3,329,650,0,1,0,0,0,1,0,0,0,0,1,0
60,3,0,4,554,581,0,1,0,0,0,1,0,0,0,1,0,0
80,4,0,5,335,269,0,1,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028783,3028875,1380327,6,0,0,0,0,1,0,0,1,0,0,0,1,0,0
3028807,3028876,1380327,7,0,0,0,0,1,0,0,1,0,0,1,0,0,0
3028831,3028877,1380327,8,0,0,0,0,1,0,0,1,0,1,0,0,0,0
3028855,3028878,1380327,9,0,0,0,0,1,0,0,1,1,0,0,0,0,0
3028879,3028879,1380327,10,0,0,0,0,1,0,1,1,0,0,0,0,0,0

In [84]:
train['positionX'].describe()
# 0 ~ 14671

count    3.028880e+06
mean     7.506632e+03
std      4.186780e+03
min      0.000000e+00
25%      4.090000e+03
50%      7.595000e+03
75%      1.117500e+04
max      1.467100e+04
Name: positionX, dtype: float64

In [85]:
train['positionY'].describe()
# 0 ~ 14742

count    3.028880e+06
mean     6.849644e+03
std      4.151408e+03
min      0.000000e+00
25%      3.222000e+03
50%      6.964000e+03
75%      1.006800e+04
max      1.474200e+04
Name: positionY, dtype: float64

## 격자만들기

In [86]:
import numpy as np

In [ ]:
# 참고
# https://jfun.tistory.com/61

In [107]:
train['pos_x'] = np.digitize(train['positionX'], bins= np.arange(0,14671,100))
train['pos_y'] = np.digitize(train['positionY'], bins= np.arange(0,14742,100))

In [108]:
train.head()

,Unnamed: 0,time_stamp,participantId,positionX,positionY,is_this_jungle,teamId_100,teamId_200,spell_1,spell_3,spell_4,spell_6,spell_7,spell_11,spell_12,spell_14,spell_21,pos_x,pos_y
0,0,0,1,194,457,0,1,0,0,0,1,0,1,0,0,0,0,2,5
20,1,0,2,557,345,0,1,0,0,0,1,0,0,1,0,0,0,6,4
40,2,0,3,329,650,0,1,0,0,0,1,0,0,0,0,1,0,4,7
60,3,0,4,554,581,0,1,0,0,0,1,0,0,0,1,0,0,6,6
80,4,0,5,335,269,0,1,0,0,0,1,0,0,0,1,0,0,4,3

In [109]:
train['pos_x'].unique()

array([  2,   6,   4, 142, 146, 145, 144, 104,  48,  49,  31,  78,  39,
       112, 138,  81,  82, 114,  76, 116,  20,  71,  22, 124, 127,  80,
        72, 117,  18,  77,  19, 126, 123,  64, 134, 136,  59,  47, 107,
         9,  86,  26, 125, 120, 121, 113, 132, 137,  40,  61, 141, 140,
        69,  92,  27,  54, 122,  73,  79, 128,  17,  42, 139, 130,  23,
        62,  24,  84,  74,  36,  98, 108, 119,  13,  90,  15, 129,  87,
        16,   8,  88, 133, 102, 118,  10,  38,  33,  32,  99,  85, 111,
       103,  89,  93,  91,  67,  65,  28, 135,  83, 109, 115,  41,  60,
         1,  30,  53,  55,  46,  70,  75,  14,  34,  11,  35,   7,  68,
       143,  29,  44, 101, 105, 131,  45,  57, 100,  51,  58,  37,  56,
        25, 106,  63,  96,  94, 110,  97,  21,  95,  52,  50,  43,  66,
         5,  12,   3, 147])

In [123]:
train = train.sort_index()

In [124]:
position = []
for i in range(len(train)):
    pos = train['pos_x'][i] * train['pos_y'][i]
    position.append(pos)

In [130]:
train['pos_x'][1]

104

In [131]:
train['pos_y'][1]

29

In [126]:
train['position'] = position

In [127]:
train.head()

,Unnamed: 0,time_stamp,participantId,positionX,positionY,is_this_jungle,teamId_100,teamId_200,spell_1,spell_3,spell_4,spell_6,spell_7,spell_11,spell_12,spell_14,spell_21,pos_x,pos_y,position
0,0,0,1,194,457,0,1,0,0,0,1,0,1,0,0,0,0,2,5,10
1,10,60019,1,10310,2823,0,1,0,0,0,1,0,1,0,0,0,0,104,29,3016
2,20,120039,1,11388,1569,0,1,0,0,0,1,0,1,0,0,0,0,114,16,1824
3,30,180059,1,11335,1703,0,1,0,0,0,1,0,1,0,0,0,0,114,18,2052
4,40,240078,1,13371,3954,0,1,0,0,0,1,0,1,0,0,0,0,134,40,5360

In [132]:
train.sort_values(by=['Unnamed: 0'],axis=0, inplace=True)

## train 설정정 완

In [136]:
train = train.drop(['Unnamed: 0', 'positionX','positionY','pos_x','pos_y'], axis=1)

In [137]:
train

,time_stamp,participantId,is_this_jungle,teamId_100,teamId_200,spell_1,spell_3,spell_4,spell_6,spell_7,spell_11,spell_12,spell_14,spell_21,position
0,0,1,0,1,0,0,0,1,0,1,0,0,0,0,10
20,0,2,0,1,0,0,0,1,0,0,1,0,0,0,24
40,0,3,0,1,0,0,0,1,0,0,0,0,1,0,28
60,0,4,0,1,0,0,0,1,0,0,0,1,0,0,36
80,0,5,0,1,0,0,0,1,0,0,0,1,0,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028783,1380327,6,0,0,1,0,0,1,0,0,0,1,0,0,1
3028807,1380327,7,0,0,1,0,0,1,0,0,1,0,0,0,1
3028831,1380327,8,0,0,1,0,0,1,0,1,0,0,0,0,1
3028855,1380327,9,0,0,1,0,0,1,1,0,0,0,0,0,1
3028879,1380327,10,0,0,1,0,1,1,0,0,0,0,0,0,1

## 파이케럿 사용

In [76]:
# pip install pycaret

Collecting pycaret
  Downloading pycaret-2.3.3-py3-none-any.whl (264 kB)
     |████████████████████████████████| 264 kB 5.1 MB/s
Requirement already satisfied: plotly>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (4.4.1)
Requirement already satisfied: numpy==1.19.5 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.19.5)
Requirement already satisfied: gensim<4.0.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.6.0)
Collecting mlflow
  Downloading mlflow-1.20.2-py3-none-any.whl (14.6 MB)
     |████████████████████████████████| 14.6 MB 112 kB/s
Collecting mlxtend>=0.17.0
  Downloading mlxtend-0.19.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 49.3 MB/s
Collecting pandas-profiling>=2.8.0
  Downloading pandas_profiling-3.0.0-py2.py3-none-any.whl (248 kB)
     |████████████████████████████████| 248 kB 47.0 MB/s
Collecting pyLDAvis
  Downloading pyLDAvis-3.3.1.tar.gz (1.7 MB)
     |████████████████████████████████| 1.7 MB 38.6 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Collecting kmodes>=0.10.1
  Downloading kmodes-0.11.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.11.2)
Requirement already satisfied: scipy<=1.5.4 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.4.1)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.5.0)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (from pycaret) (7.6.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.1.5)
Collecting scikit-plot
  Downloading scikit_plot-0.3.7-py3-none-any.whl (33 kB)
Collecting Boruta
  Downloading Boruta-0.3-py3-none-any.whl (56 kB)
     |████████████████████████████████| 56 kB 4.1 MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.0.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.2)
Collecting scikit-learn==0.23.2
  Downloading scikit_learn-0.23.2-cp37-cp37m-manylinux1_x86_64.whl (6.8 MB)
     |████████████████████████████████| 6.8 MB 34.3 MB/s
Collecting imbalanced-learn==0.7.0
  Downloading imbalanced_learn-0.7.0-py3-none-any.whl (167 kB)
     |████████████████████████████████| 167 kB 55.5 MB/s
Requirement already satisfied: cufflinks>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.17.3)
Collecting lightgbm>=2.3.1
  Downloading lightgbm-3.2.1-py3-none-manylinux1_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 34.3 MB/s
Collecting umap-learn
  Downloading umap-learn-0.5.1.tar.gz (80 kB)
     |████████████████████████████████| 80 kB 8.5 MB/s
Requirement already satisfied: spacy<2.4.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (2.2.4)
Collecting pyod
  Downloading pyod-0.9.3.tar.gz (111 kB)
     |████████████████████████████████| 111 kB 28.8 MB/s
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.15.3)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.5)
Requirement already satisfied: IPython in /usr/local/lib/python3.7/dist-packages (from pycaret) (5.5.0)
Collecting yellowbrick>=1.0.1
  Downloading yellowbrick-1.3.post1-py3-none-any.whl (271 kB)
     |████████████████████████████████| 271 kB 53.8 MB/s
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.2.0-py3-none-any.whl (12 kB)
Requirement already satisfied: setuptools>=34.4.1 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (57.4.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (1.15.0)
Requirement already satisfied: colorlover>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0.0->pycaret) (5.2.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (5.1.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (1.0.18)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (2.6.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.8.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (3.5.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (1.0.2)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (4.10.1)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (5.1.3)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.3.5)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm>=2.3.1->pycaret) (0.37.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (0.10.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.7.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (2.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pycaret) (2018.9)
Collecting PyYAML>=5.0.0
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 36.9 MB/s
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.11.3)
Collecting htmlmin>=0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Collecting requests>=2.24.0
  Downloading requests-2.26.0-py2.py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 759 kB/s
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.5.0)
Collecting tangled-up-in-unicode==0.1.0
  Downloading tangled_up_in_unicode-0.1.0-py3-none-any.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 45.8 MB/s
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (4.62.2)
Collecting visions[type_image_path]==0.7.1
  Downloading visions-0.7.1-py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 54.0 MB/s
Collecting phik>=0.11.1
  Downloading phik-0.12.0-cp37-cp37m-manylinux2010_x86_64.whl (675 kB)
     |████████████████████████████████| 675 kB 33.3 MB/s
Collecting pydantic>=1.8.1
  Downloading pydantic-1.8.2-cp37-cp37m-manylinux2014_x86_64.whl (10.1 MB)
     |████████████████████████████████| 10.1 MB 30.0 MB/s
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (21.2.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (2.6.3)
Requirement already satisfied: bottleneck in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (1.3.2)
Collecting multimethod==1.4
  Downloading multimethod-1.4-py2.py3-none-any.whl (7.3 kB)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (7.1.2)
Collecting imagehash
  Downloading ImageHash-4.2.1.tar.gz (812 kB)
     |████████████████████████████████| 812 kB 40.7 MB/s
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->pandas-profiling>=2.8.0->pycaret) (2.0.1)
Collecting scipy<=1.5.4
  Downloading scipy-1.5.4-cp37-cp37m-manylinux1_x86_64.whl (25.9 MB)
     |████████████████████████████████| 25.9 MB 784 bytes/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.4.1->pycaret) (1.3.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->IPython->pycaret) (0.2.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pydantic>=1.8.1->pandas-profiling>=2.8.0->pycaret) (3.7.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.0.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (1.24.3)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.4.1)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.8.2)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (7.4.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.1.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (2.0.5)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (3.0.5)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy<2.4.0->pycaret) (4.8.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<2.4.0->pycaret) (3.5.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.3.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.12.1)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.6.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.8.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets->pycaret) (22.2.1)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.1->pandas-profiling>=2.8.0->pycaret) (1.1.1)
Requirement already satisfied: Flask in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.1.4)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (7.1.2)
Collecting databricks-cli>=0.8.7
  Downloading databricks-cli-0.15.0.tar.gz (56 kB)
     |████████████████████████████████| 56 kB 4.4 MB/s
Requirement already satisfied: protobuf>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (3.17.3)
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.4.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (21.0)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.3.0)
Collecting alembic<=1.4.1
  Downloading alembic-1.4.1.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 49.3 MB/s
Collecting prometheus-flask-exporter
  Downloading prometheus_flask_exporter-0.18.2.tar.gz (22 kB)
Collecting docker>=4.0.0
  Downloading docker-5.0.2-py2.py3-none-any.whl (145 kB)
     |████████████████████████████████| 145 kB 56.6 MB/s
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.3)
Collecting querystring-parser
  Downloading querystring_parser-1.2.4-py2.py3-none-any.whl (7.9 kB)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.4.23)
Collecting gunicorn
  Downloading gunicorn-20.1.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 7.9 MB/s
Collecting gitpython>=2.1.0
  Downloading GitPython-3.1.24-py3-none-any.whl (180 kB)
     |████████████████████████████████| 180 kB 61.6 MB/s
Collecting Mako
  Downloading Mako-1.1.5-py2.py3-none-any.whl (75 kB)
     |████████████████████████████████| 75 kB 4.2 MB/s
Collecting python-editor>=0.3
  Downloading python_editor-1.0.4-py3-none-any.whl (4.9 kB)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.7/dist-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (0.8.9)
Collecting websocket-client>=0.32.0
  Downloading websocket_client-1.2.1-py2.py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 1.3 MB/s
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.7-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.5 MB/s
Collecting smmap<5,>=3.0.1
  Downloading smmap-4.0.0-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->mlflow->pycaret) (1.1.1)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask->mlflow->pycaret) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask->mlflow->pycaret) (1.1.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (4.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.1)
Requirement already satisfied: prometheus_client in /usr/local/lib/python3.7/dist-packages (from prometheus-flask-exporter->mlflow->pycaret) (0.11.0)
Collecting pandas
  Downloading pandas-1.3.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 43.3 MB/s
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (0.0)
Collecting pyLDAvis
  Downloading pyLDAvis-3.3.0.tar.gz (1.7 MB)
     |████████████████████████████████| 1.7 MB 58.3 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
  Downloading pyLDAvis-3.2.2.tar.gz (1.7 MB)
     |████████████████████████████████| 1.7 MB 50.4 MB/s
Requirement already satisfied: numexpr in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (2.7.3)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (0.16.0)
Collecting funcy
  Downloading funcy-1.16-py2.py3-none-any.whl (32 kB)
Requirement already satisfied: numba>=0.35 in /usr/local/lib/python3.7/dist-packages (from pyod->pycaret) (0.51.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from pyod->pycaret) (0.10.2)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.35->pyod->pycaret) (0.34.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->pyod->pycaret) (0.5.1)
Collecting pynndescent>=0.5
  Downloading pynndescent-0.5.4.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 40.8 MB/s
Building wheels for collected packages: htmlmin, imagehash, alembic, databricks-cli, prometheus-flask-exporter, pyLDAvis, pyod, umap-learn, pynndescent
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27098 sha256=4f4a1f6d37c1e135864d66c377e5d08fbc0eb25b7982e6a96782e470a53936ca
  Stored in directory: /root/.cache/pip/wheels/70/e1/52/5b14d250ba868768823940c3229e9950d201a26d0bd3ee8655
  Building wheel for imagehash (setup.py) ... done
  Created wheel for imagehash: filename=ImageHash-4.2.1-py2.py3-none-any.whl size=295207 sha256=43550cfbe6465add07622a4580661f908bd868f5e812375c7590f3c8f1f89eb8
  Stored in directory: /root/.cache/pip/wheels/4c/d5/59/5e3e297533ddb09407769762985d134135064c6831e29a914e
  Building wheel for alembic (setup.py) ... done

In [77]:
# pip install catboost

Collecting catboost
  Downloading catboost-0.26.1-cp37-none-manylinux1_x86_64.whl (67.4 MB)
     |████████████████████████████████| 67.4 MB 32 kB/s
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.5.4)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.26.1

In [78]:
# pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.23.2)
Collecting scikit-learn
  Downloading scikit_learn-0.24.2-cp37-cp37m-manylinux2010_x86_64.whl (22.3 MB)
     |████████████████████████████████| 22.3 MB 30 kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.5.4)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.23.2
    Uninstalling scikit-learn-0.23.2:
      Successfully uninstalled scikit-learn-0.23.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pycaret 2.3.3 requires scikit-learn==0.23.2, but you have scikit-learn 0.24.2 which is incompatible.
Successfully installed scikit-learn-0.24.2

In [79]:
# pip install shap

Collecting shap
  Downloading shap-0.39.0.tar.gz (356 kB)
     |████████████████████████████████| 356 kB 4.9 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from shap) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from shap) (1.5.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from shap) (0.24.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from shap) (1.1.5)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.7/dist-packages (from shap) (4.62.2)
Collecting slicer==0.0.7
  Downloading slicer-0.0.7-py3-none-any.whl (14 kB)
Requirement already satisfied: numba in /usr/local/lib/python3.7/dist-packages (from shap) (0.51.2)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from shap) (1.3.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba->shap) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba->shap) (57.4.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->shap) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->shap) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->shap) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->shap) (2.2.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->shap) (1.0.1)
Building wheels for collected packages: shap
  Building wheel for shap (setup.py) ... done
  Created wheel for shap: filename=shap-0.39.0-cp37-cp37m-linux_x86_64.whl size=491651 sha256=aed6985a223110fce4bec99e482617c9ea73bffdc194ade918e0790cdaba4f4d
  Stored in directory: /root/.cache/pip/wheels/ca/25/8f/6ae5df62c32651cd719e972e738a8aaa4a87414c4d2b14c9c0
Successfully built shap
Installing collected packages: slicer, shap
Successfully installed shap-0.39.0 slicer-0.0.7

In [80]:
from pycaret.classification import *
from pycaret.regression import *

### 시도_1 팀별, 선수별 스펠도 넣어봄

In [138]:
reg = setup(data= train,
            target= 'position'
            )

                               Description             Value
0                               session_id              7812
1                                   Target          position
2                            Original Data     (3028880, 15)
3                           Missing Values             False
4                         Numeric Features                12
5                     Categorical Features                 2
6                         Ordinal Features             False
7                High Cardinality Features             False
8                  High Cardinality Method              None
9                    Transformed Train Set     (2120215, 22)
10                    Transformed Test Set      (908665, 22)
11                      Shuffle Train-Test              True
12                     Stratify Train-Test             False
13                          Fold Generator             KFold
14                             Fold Number                10
15                                CPU Jobs                -1
16                                 Use GPU             False
17                          Log Experiment             False
18                         Experiment Name  reg-default-name
19                                     USI              3524
20                         Imputation Type            simple
21          Iterative Imputation Iteration              None
22                         Numeric Imputer              mean
23      Iterative Imputation Numeric Model              None
24                     Categorical Imputer          constant
25  Iterative Imputation Categorical Model              None
26           Unknown Categoricals Handling    least_frequent
27                               Normalize             False
28                        Normalize Method              None
29                          Transformation             False
30                   Transformation Method              None
31                                     PCA             False
32                              PCA Method              None
33                          PCA Components              None
34                     Ignore Low Variance             False
35                     Combine Rare Levels             False
36                    Rare Level Threshold              None
37                         Numeric Binning             False
38                         Remove Outliers             False
39                      Outliers Threshold              None
40                Remove Multicollinearity             False
41             Multicollinearity Threshold              None
42             Remove Perfect Collinearity              True
43                              Clustering             False
44                    Clustering Iteration              None
45                     Polynomial Features             False
46                       Polynomial Degree              None
47                    Trignometry Features             False
48                    Polynomial Threshold              None
49                          Group Features             False
50                       Feature Selection             False
51                Feature Selection Method           classic
52            Features Selection Threshold              None
53                     Feature Interaction             False
54                           Feature Ratio             False
55                   Interaction Threshold              None
56                        Transform Target             False
57                 Transform Target Method           box-cox

AttributeError: ignored

In [ ]:
best_5_l = compare_models(sort='MAE', n_select=5)
# 램 나감

IntProgress(value=0, description='Processing: ', max=94)

Initiated  . . . . . . . . . . . . . . . . . .          10:05:42
Status     . . . . . . . . . . . . . . . . . .  Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .   Huber Regressor

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE,TT (Sec)
omp,Orthogonal Matching Pursuit,3023.0478,1.766882e+07,4203.4262,0.1484,1.8749,187.0766,0.580
lr,Linear Regression,3027.2067,1.764821e+07,4200.9739,0.1494,1.8732,182.9026,1.831
lasso,Lasso Regression,3027.2408,1.764824e+07,4200.9772,0.1494,1.8733,182.8897,57.588
br,Bayesian Ridge,3027.2480,1.764822e+07,4200.9745,0.1494,1.8732,182.8819,4.096
ridge,Ridge Regression,3027.2587,1.764822e+07,4200.9744,0.1494,1.8732,182.8817,0.527
lar,Least Angle Regression,3027.2813,1.764829e+07,4200.9834,0.1494,1.8732,182.8775,0.590
en,Elastic Net,3041.2397,1.872599e+07,4327.3478,0.0975,1.9148,184.6263,77.233
llar,Lasso Least Angle Regression,3101.4970,1.959636e+07,4426.7699,0.0555,1.9318,189.3636,0.582
par,Passive Aggressive Regressor,9537.7921,1.420343e+08,11897.6096,-5.8468,2.7181,408.3514,3.527

# 정글경로만 예측을을 해봐야겠다.

In [1]:
train_jungle = train[train['is_this_jungle']==1]

NameError: ignored

In [ ]:
reg = setup(data= train,
            target= 'position'
            )