<a href="https://colab.research.google.com/github/cabbi120101/final_multi/blob/main/Try/%EC%A2%8C%ED%91%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import re
import pandas as pd

import numpy as np
import json

# from nltk.corpus import stopwords
# from tensorflow.python.keras.preprocessing.sequence import pad_sequences
# from tensorflow.python.keras.preprocessing.text import Tokenizer

In [3]:
timeline_info = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/4주차/데이터/timeline_info.csv")
timeline_info.head()

   Unnamed: 0      gameId  time_stamp  ...  xp  minionsKilled  jungleMinionsKilled
0           0  5239649284           0  ...   0              0                    0
1           1  5239649284           0  ...   0              0                    0
2           2  5239649284           0  ...   0              0                    0
3           3  5239649284           0  ...   0              0                    0
4           4  5239649284           0  ...   0              0                    0

[5 rows x 12 columns]

In [4]:
match_info = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/4주차/데이터/match_info.csv")
match_info.head()

   Unnamed: 0      gameId  ...  firstTowerKill firstTowerAssist
0           0  5094010678  ...               0                0
1           1  5094010678  ...               0                0
2           2  5094010678  ...               0                0
3           3  5094010678  ...               0                0
4           4  5094010678  ...               0                0

[5 rows x 40 columns]

In [13]:
import csv
import json

In [17]:
input_file_name = "/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/4주차/데이터/ko_KR/item.json"
output_file_name = "item.csv"
with open(input_file_name, "r", encoding="utf-8", newline="") as input_file, \
        open(output_file_name, "w", encoding="utf-8", newline="") as output_file:
    data = []
    for line in input_file:
        datum = json.loads(line)
        data.append(datum)
        
    csvwriter = csv.writer(output_file)
    csvwriter.writerow(data[0].keys())
    for line in data:
        csvwriter.writerow(line.values())

In [26]:
pd.set_option('display.max_rows',None)

In [22]:
item = pd.read_csv('item.csv')

In [32]:
item['basic'].keys

<bound method Series.keys of 0    {'name': '', 'rune': {'isrune': False, 'tier':...
Name: basic, dtype: object>

In [35]:
item = json.load("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/4주차/데이터/ko_KR/item.json")
# item = pd.json_normalize("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/4주차/데이터/ko_KR/item.json")
item.head()

AttributeError: ignored